html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
@font-face {
  font-family: ClashDisplay-Semibold;

  src: url ("font/ClashDisplay-Semibold.otf");
}
body,
textarea {
  font-family: ClashDisplay-Semibold;
}
textarea {
  resize: none;
  position: relative;
  top: 0;
  left: 0;
  padding: 1em;
  margin: 1em;
  background-color: brown;
  border: 1px;
  width: 20em;
  height: 10em;
}